<!-- <div class="Cardcontainer">
    <img src="../../../assets/SliderOne.jpg" />
    <div class="bottom">
        <div class="bottom_left">
            <h1>{{name}}</h1>
        <p class="nopromo" *ngIf="!promotion">{{price}}dt</p>
        <p class="promo" *ngIf="promotion">{{price}}dt</p>
        <p *ngIf="promotion">{{finalPrice}}dt</p>
        </div>
        <hr />
        <div class="bottom_right">
            <i class="fas fa-cart-plus"></i>
        </div>
    </div>
</div> -->
<div class="containers">
    <div class="cards">
        <div class="shoeBackground">
            <div class="gradients">
                <div class="gradient second" color="blue">
                    <img src="../../../assets/{{photo}}" />
                </div> 
            </div>
            <h1 class="nike">ECHRYY</h1>
            <a href="#" class="share"><i class="fas fa-share-alt"></i></a>
        </div>
        <div class="info">
            <div class="shoeName">
                <div>
                    <h1 class="big">{{name}}</h1>
                </div>
            </div>
            <div class="description">
                <h3 class="title">Product Info</h3>
                <p class="text">{{description}}</p>
            </div>
            <div class="buy-price">
                <a href="#" class="buy"><i class="fas fa-shopping-cart"></i>Add to card</a>
                <div class="price">
                    <i class="fas fa-dollar-sign"></i>
                    <h1>{{price}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
