<!-- <div class="container">     
          <div class="card" style="width: 18rem;" *ngFor="let p of listProduct" >
         <div class="dropdown">
           <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-grip-vertical"> </i>
          </button> 
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <ul  *ngFor="let pro of listPromo">
           <li><a class="dropdown-item"  data-target=".bd-example-modal-lg" (click)="newPrice(p,pro)">Add promotion : {{pro.name}}</a></li> 
            </ul>
            <ul>
              <li><a class="dropdown-item"  data-target=".bd-example-modal-lg" (click)="removePromo(p)">Remove Promotion </a></li> 
               </ul>
          </div>
        </div>
        <img class="card-img-top" src={{p.picture}} alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{p.name}}</h5>
              <p class="card-text" [ngClass]="p.newPrice != null ? 'withPromotion' : 'noPromotion'">{{p.initialPrice}}</p>
              <p class="card-text"[ngClass]="p.newPrice != null ? 'withPromotion1' : 'noPromotion'">{{p.newPrice}}</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>   
</div> -->